.heading {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}

.tagline {
    margin: 0;
    font-size: 14px;
    color: #848d97;
}

.project-list-wrapper {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 40px;

    .project-item {
        border-radius: 26px;
        background-color: #ffffff;
        width: 260px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        position: relative;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #1e391e;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        }

        .project-type {
            width: fit-content;
            background-color: #eaeeff;
            color: #66829e;
            font-size: 12px;
            padding: 2px 8px;
            border-radius: 20px;
            margin: 20px;
        }

        .project-title-wrapper {
            display: flex;

            img {
                width: 32px;
                height: 32px;
                margin-left: 20px;
                position: relative;
                top: 5px;
            }
        }

        .project-title {
            padding: 0 20px;
            padding-left: 10px;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 500;
        }

        .project-duration {
            color: #66829e;
            padding: 0 10px;
            font-size: 12px;
            text-transform: capitalize;
        }

        .project-description {
            padding: 0 20px;
            margin: 20px 0;
            font-size: 14px;
            color: #919aa3;
        }

    }
}
