.heading {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}

.tagline {
    margin: 0;
    font-size: 14px;
    color: #848d97;
}

.project-list-wrapper {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 40px;

    .project-item {
        background-color: #ffffff;
        width: 260px;
        border: 1px solid #000000;
        position: relative;
        padding: 10px;
        transition: all 0.3s ease-in-out;

        .project-type {
            width: fit-content;
            font-size: 12px;
            margin: 0 20px 10px 20px;
            text-decoration: underline;
        }

        .project-title-wrapper {
            display: flex;
            padding: 0 10px;

            img {
                width: 32px;
                height: 32px;
                margin-left: 20px;
                position: relative;
                top: 5px;
            }
        }

        .project-title {
            padding: 0 20px;
            padding-left: 10px;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 500;
        }

        .project-duration {
            padding: 0 10px;
            font-size: 12px;
            text-transform: capitalize;
        }

        .project-description {
            padding: 0 20px;
            margin: 20px 0;
            font-size: 14px;
        }

    }
}
