.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #e5e8f0;
    position: relative;
}

.login-box {
    width: 80%;
    height: 70%;
    background-color: #eef1f9;
    border-radius: 36px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    @media (min-width: 1440px) {
        width: 60%;
    }

    .left-div {
        background-color: #1e391e;
        flex: 50%;
        border-radius: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;

        @media (max-width: 992px) {
            display: none;
        }

        .login-avatar {
            border-radius: 36px;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .right-div {
        flex: 50%;
        padding: 0 50px;
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .register-btn {
            position: absolute;
            right: 50px;
            top: 30px;
            font-size: 12px;

            span {
                color: #207af2;
                cursor: pointer;
            }
        }

        h1 {
            font-size: 36px;
            font-weight: 500;
        }
    
        input {
            width: 100%;
            margin: 14px 0;
            padding: 18px;
            border-radius: 10px;
            border: none;
            color: #000000;
            font-size: 16px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            &::placeholder {
                color: #888; 
                opacity: 1;
              }

        }
    
        .submit-btn {
            background-color: #1e391e;
            width: 100%;
            margin: 20px 0;
            padding: 18px;
            border-radius: 10px;
            border: none;
            color: #ffffff;
            font-size: 18px;
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
            }

            &:disabled {
                opacity: 0.4;
            }
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 36px;
    background: #e5e8f0;
    border-radius: 36px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 700px;

    h2 {
        font-weight: 500;
        font-size: 28px;
        margin: 0 0 10px 0;
    }
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}