.heading {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}

.tagline {
    margin: 0;
    font-size: 14px;
    color: #848d97;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;

    .controls {
        align-self: end;
        display: flex;
        gap: 20px;

        .search-box {
            border: none;
            border-bottom: 2px solid #848d97;
            background-color: transparent;
            height: 30px;
            width: 220px;
            font-size: 14px;
        }
    }
}


.users-list {

    table {
        margin-top: 30px;
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border: 1px solid #000000;

        thead tr {
            border-bottom: 1px solid #77777730;
            background-color: #ddddddc2;
        }

        th, td {
            text-align: left;
            padding: 16px 24px;
        }

        tbody {
            tr {
                td {
                    font-size: 14px;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #efefef;
                }
            }
        }

        @media screen and (max-width: 768px) {
            th, td {
                display: block;
                width: 100%;
            }
            td {
                position: relative;
            }
            td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 45%;
                padding-left: 10px;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
}